.env
.env.*
venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.sqlite3
db.sqlite3
db.sqlite3-journal
.git/
.github/
.gitignore
.dockerignore
Dockerfile
docker-compose.yml