{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="get" class="mb-3 w-50">
        <div class="input-group">
            <input type="text" name="query" placeholder="Search services..." class="form-control"
                   value="{{ request.GET.query }}">

            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <p>Total services: {{ services|length }} service{{ services|length|pluralize }}</p>

    {% if services %}
        <ul class="list-group">
            {% for service in services|slice:":3" %}
                <li class="list-group-item">
                    <strong>{{ service.name|lower }}</strong>:
                    {{ service.description|truncatechars:50|safe }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No services found matching your query.</p>
    {% endif %}
{% endblock %}